@page "/SamplePages/CustomerList"
@using HogWildWebApp.Components.Layout

<PageTitle>Customer LIst</PageTitle>
<h3>Customer List</h3>

<header>
    <h4>Search</h4>
    <p>
        <label>Last Name:</label>
        <InputText id="lastName"
                   Style="Width: 140px; background-color: lightgray"
                   @bind-Value="lastName" />
    </p>
    <p>
        <label>Phone #:</label>
        <InputText id="phoneNumber"
                   Style="Width: 140px; background-color: lightgray"
                   @bind-Value="phoneNumber" />
    </p>
    <button class="btn-success" @onclick="Search">Search</button>
    <button class="btn-success" @onclick="New">New</button>
</header>
<body>
    @if (Customers.Count == 0)
    {
        <p><em>Please enter either a last name or phone number</em></p>
    }
    else
    {
        <!-- THis section defines a TableTemplate for displaying customer infomration-->
        <TableTemplate Items="Customers" Context="CustomerSearchView">
            <!-- The following section defines the header row of the table.-->
            <TableHeader>
                <!-- Labels information in each column-->
                <th></th><!-- Empty column for buttons-->
                <th></th><!-- Empty column for buttons-->
                <th>First Name</th>
                <th>Last Name</th>
                <th>City</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Total Sales</th>
            </TableHeader>
            <!-- The following section defines the row template for displaying customer data. -->
            <RowTemplate>
                <td>
                    <!-- Button to edit the customer's information -->
                    <button class="btn-success"
                            @onclick="() => EditCustomer(CustomerSearchView.CustomerID)">
                        Edit
                    </button>
                </td>
                <td>
                    <!-- Button to create a new invoice for the customer -->
                    <button class="btn-success"
                            @onclick="() => NewInvoice(CustomerSearchView.CustomerID)">
                        New Invoice
                    </button>
                </td>
                <!-- Display customer information in each column -->
                <td>@CustomerSearchView.FirstName</td>
                <td>@CustomerSearchView.LastName</td>
                <td>@CustomerSearchView.City</td>
                <td>@CustomerSearchView.Phone</td>
                <td>@CustomerSearchView.Email</td>
                <td>$@CustomerSearchView.TotalSales</td>
            </RowTemplate>
        </TableTemplate>
    }
</body>
<footer>
    @if (hasFeedback)
    {
        <blockquote>@feedbackMessage</blockquote>
    }
    @if (hasError)
    {
        <blockquote>
            @errorMessage
            <ul>
                @foreach (var detail in errorDetails)
                {
                    <li>@detail</li>
                }
            </ul>
        </blockquote>
    }
</footer>